@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Source+Sans+Pro&display=swap');

:root{
    --accent-color:#fcb503;
    --main-color:#87857f;
    font-family: 'Fira Sans', sans-serif;

}

body{
    max-width: 980px;
    margin: auto;
}

header nav .logo{
    display: flex;
    justify-content: center;
    margin: 5px;
}
header nav .logo img {
    width: 150px;
    }
header nav .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
header nav .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 120%;
    border: 2px solid transparent;
    padding: 10px;
       }
header nav .menu a:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
       }
@media( min-width:550px ){
    header nav{
        display: flex;
        align-items: center;
    }
    header nav .menu {
        flex: 1;
    }

}
header .banner {
    background-image:url(./img/banner-bg.jpg);


}